
@{
    ViewBag.Title = "Alyans";
}
<main class="cd-main-content">
    <ul id="page1" class="cd-items cd-container">
        <li class="cd-item" id="SOMALY5001">
            <img src="~/Images/products/Alyans/SOMALY5001.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5001
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gold Kaplama Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5001" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5001.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gold Kaplama Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5001</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Sarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 1-->
        <li class="cd-item" id="SOMALY5002">
            <img src="~/Images/products/Alyans/SOMALY5002.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5002
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5002" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5002.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5002</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 2-->
        <li class="cd-item" id="SOMALY5003">
            <img src="~/Images/products/Alyans/SOMALY5003.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5003
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gold Kaplama Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5003" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5003.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gold Kaplama Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5003</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Sarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 3-->
        <li class="cd-item" id="SOMALY5004">
            <img src="~/Images/products/Alyans/SOMALY5004.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5004
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gümüş El İşçiliği Parmak İzli Çift Alyans</a>
            </div>

            <a href="#SOMALY5004" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5004.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gümüş El İşçiliği Parmak İzli Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5004</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Gri</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 4-->
        <li class="cd-item" id="SOMALY5005">
            <img src="~/Images/products/Alyans/SOMALY5006.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5006
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gold Kaplama Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5006" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5006.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gold Kaplama Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5006</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Taşsız</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Sarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 5-->
        <li class="cd-item" id="SOMALY5006">
            <img src="~/Images/products/Alyans/SOMALY5006.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5006
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gold Kaplama Gümüş El İşçiliği Sonsuzluk Çift Alyans</a>
            </div>

            <a href="#SOMALY5006" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5006.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gold Kaplama Gümüş El İşçiliği Sonsuzluk Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5006</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Sarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 6-->
        <li class="cd-item" id="SOMALY5007">
            <img src="~/Images/products/Alyans/SOMALY5007.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5007
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gold Kaplama Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5007" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5007.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gold Kaplama Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5007</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Sarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 7-->
        <li class="cd-item" id="SOMALY5008">
            <img src="~/Images/products/Alyans/SOMALY5008.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5008
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gold Kaplama Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5008" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5008.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gold Kaplama Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5008</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Sarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 8-->
        <li class="cd-item" id="SOMALY5009">
            <img src="~/Images/products/Alyans/SOMALY5009.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5009
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gold Kaplama Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5009" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5009.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gold Kaplama Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5009</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Taşsız</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Sarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 9-->
        <li class="cd-item" id="SOMALY5010">
            <img src="~/Images/products/Alyans/SOMALY5010.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5010
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gold Kaplama Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5010" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5010.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gold Kaplama Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5010</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Taşsız</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Sarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 10-->
        <li class="cd-item" id="SOMALY5011">
            <img src="~/Images/products/Alyans/SOMALY5011.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5011
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gold Kaplama Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5011" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5011.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gold Kaplama Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5011</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Taşsız</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Sarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 11-->
        <li class="cd-item" id="SOMALY5012">
            <img src="~/Images/products/Alyans/SOMALY5012.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5012
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gold Kaplama Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5012" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5012.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gold Kaplama Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5012</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Taşsız</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Sarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 12-->
        <li class="cd-item" id="SOMALY5013">
            <img src="~/Images/products/Alyans/SOMALY5013.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5013
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gold Kaplama Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5013" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5013.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gold Kaplama Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5013</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Sarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 13-->
        <li class="cd-item" id="SOMALY5014">
            <img src="~/Images/products/Alyans/SOMALY5014.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5014
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5014" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5014.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5014</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Taşsız</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 14-->
        <li class="cd-item" id="SOMALY5015">
            <img src="~/Images/products/Alyans/SOMALY5015.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5015
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5010" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5015.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5015</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 15-->
    </ul>
    <ul id="page2" class="cd-items cd-container">
        <li class="cd-item" id="SOMALY5016">
            <img src="~/Images/products/Alyans/SOMALY5016.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5016
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5016" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5016.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5016</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Gri</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 16-->
        <li class="cd-item" id="SOMALY5017">
            <img src="~/Images/products/Alyans/SOMALY5017.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5017
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gold Kaplama Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5017" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5017.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gold Kaplama Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5017</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Taşsız</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Sarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 17-->
        <li class="cd-item" id="SOMALY5018">
            <img src="~/Images/products/Alyans/SOMALY5018.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5018
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5018" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5018.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5018</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Taşsız</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 18-->
        <li class="cd-item" id="SOMALY5019">
            <img src="~/Images/products/Alyans/SOMALY5019.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5019
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gümüş El İşçiliği Kalp Ritmi Çift Alyans</a>
            </div>

            <a href="#SOMALY5019" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5019.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gümüş El İşçiliği Kalp Ritmi Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5019</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Taşsız</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 19-->
        <li class="cd-item" id="SOMALY5020">
            <img src="~/Images/products/Alyans/SOMALY5020.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5020
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gümüş El İşçiliği Motifli Çift Alyans</a>
            </div>

            <a href="#SOMALY5020" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5020.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gümüş El İşçiliği Motifli Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5020</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Siyah</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 20-->
        <li class="cd-item" id="SOMALY5021">
            <img src="~/Images/products/Alyans/SOMALY5021.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5021
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gold Kaplama Gümüş El İşçiliği Motifli Çift Alyans</a>
            </div>

            <a href="#SOMALY5021" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5021.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gold Kaplama Gümüş El İşçiliği Motifli Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5021</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Gri,Sarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 21-->
        <li class="cd-item" id="SOMALY5022">
            <img src="~/Images/products/Alyans/SOMALY5022.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5022
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5022" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5022.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5022</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 22-->
        <li class="cd-item" id="SOMALY5023">
            <img src="~/Images/products/Alyans/SOMALY5023.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5023
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5023" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5023.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5023</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Taşsız</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Gri</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 23-->
        <li class="cd-item" id="SOMALY5024">
            <img src="~/Images/products/Alyans/SOMALY5024.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5024
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gold Kaplama Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5024" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5024.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gold Kaplama Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5024</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Taşsız</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Sarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 24-->
        <li class="cd-item" id="SOMALY5025">
            <img src="~/Images/products/Alyans/SOMALY5025.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5025
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gold Kaplama Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5025" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5025.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gold Kaplama Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5025</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Taşsız</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Sarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 25-->
        <li class="cd-item" id="SOMALY5026">
            <img src="~/Images/products/Alyans/SOMALY5026.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5026
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gold Kaplama Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5026" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5026.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gold Kaplama Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5026</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Taşsız</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Sarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 26-->
        <li class="cd-item" id="SOMALY5027">
            <img src="~/Images/products/Alyans/SOMALY5027.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5027
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gümüş El İşçiliği Sonsuzluk Çift Alyans</a>
            </div>

            <a href="#SOMALY5027" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5027.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gümüş El İşçiliği Sonsuzluk Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5027</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Gri</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 27-->
        <li class="cd-item" id="SOMALY5028">
            <img src="~/Images/products/Alyans/SOMALY5028.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5028
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5028" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5028.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5028</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Gri</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 28-->
        <li class="cd-item" id="SOMALY5029">
            <img src="~/Images/products/Alyans/SOMALY5029.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5029
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gold Kaplama Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5029" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5029.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gold Kaplama Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5029</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Taşsız</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Sarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 29-->
        <li class="cd-item" id="SOMALY5030">
            <img src="~/Images/products/Alyans/SOMALY5030.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5030
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gold Kaplama Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5029" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5030.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gold Kaplama Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5030</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Sarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 30-->
    </ul>
    <ul id="page3" class="cd-items cd-container">
        <li class="cd-item" id="SOMALY5031">
            <img src="~/Images/products/Alyans/SOMALY5031.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5031
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5031" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5031.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5031</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Taşsız</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 31-->
        <li class="cd-item" id="SOMALY5032">
            <img src="~/Images/products/Alyans/SOMALY5032.jpg" alt="Item Preview">
            <div class="product-code-container">
                SOMALY5032
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">Gold Kaplama Gümüş El İşçiliği Çift Alyans</a>
            </div>

            <a href="#SOMALY5032" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Alyans/SOMALY5032.jpg" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>Gold Kaplama Gümüş El İşçiliği Çift Alyans</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMALY5032</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Kaplama</td>
                                    <td class="colon">:</td>
                                    <td>Rodyum</td>
                                </tr>
                                <tr>
                                    <td class="details">Renk</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Sarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 32-->
    </ul>
    <!-- cd-items end -->

    <!-- Pagination Section -->
    <center>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" onclick="showPrev()">Geri</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPages('1')">1</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPages('2')">2</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPages('3')">3</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showNext()">İleri</a></li>
            </ul>
        </nav>
    </center>
    <!-- Pagination Section End-->

</main>