@{
    ViewBag.Title = "Erkek Kolye";
}
<main class="cd-main-content">
    <ul id="page1" class="cd-items cd-container">
        <li class="cd-item" id="EK12001">

            <img src="~/Images/products/ErkekKolye/EK12001.jpg" alt="Item Preview">
            <div class="product-code-container">
                EK12001
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Üç Hilal Tasarım Kolye</a>
            </div>

            <a href="#EK12001" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/ErkekKolye/EK12001.jpg" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Üç Hilal Tasarım Kolye</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>EK12001</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Metal Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 1-->
        <li class="cd-item" id="EK12002">

            <img src="~/Images/products/ErkekKolye/EK12002.jpg" alt="Item Preview">
            <div class="product-code-container">
                EK12002
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Osmanlı Tuğrası Kolye</a>
            </div>

            <a href="#EK12002" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/ErkekKolye/EK12002.jpg" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Osmanlı Tuğrası Kolye</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>EK12002</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Metal Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 2-->
        <li class="cd-item" id="EK12003">

            <img src="~/Images/products/ErkekKolye/EK12003.jpg" alt="Item Preview">
            <div class="product-code-container">
                EK12003
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Allah Yazılı Tasarım Kolye</a>
            </div>

            <a href="#EK12003" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/ErkekKolye/EK12003.jpg" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Allah Yazılı Tasarım Kolye</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>EK12003</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Metal Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 3-->
        <li class="cd-item" id="EK12004">

            <img src="~/Images/products/ErkekKolye/EK12004.jpg" alt="Item Preview">
            <div class="product-code-container">
                EK12004
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Ay Yıldız Kolye</a>
            </div>

            <a href="#EK12004" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/ErkekKolye/EK12004.jpg" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Ay Yıldız Kolye</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>EK12004</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Metal Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 4-->
        <li class="cd-item" id="EK12005">

            <img src="~/Images/products/ErkekKolye/EK12005.jpg" alt="Item Preview">
            <div class="product-code-container">
                EK12005
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Akrep Tasarım Kolye</a>
            </div>

            <a href="#EK12005" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/ErkekKolye/EK12005.jpg" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Akrep Tasarım Kolye</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>EK12005</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Metal Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 5-->
        <li class="cd-item" id="EK12006">

            <img src="~/Images/products/ErkekKolye/EK12006.jpg" alt="Item Preview">
            <div class="product-code-container">
                EK12006
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Ay Yıldız Bozkurt Tasarım Kolye</a>
            </div>

            <a href="#EK12006" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/ErkekKolye/EK12006.jpg" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Ay Yıldız Bozkurt Tasarım Kolye</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>EK12006</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Metal Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 6-->
        <li class="cd-item" id="EK12007">

            <img src="~/Images/products/ErkekKolye/EK12007.jpg" alt="Item Preview">
            <div class="product-code-container">
                EK12007
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Bozkurt Hilal Tasarım Kolye</a>
            </div>

            <a href="#EK12007" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/ErkekKolye/EK12007.jpg" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Bozkurt Hilal Tasarım Kolye</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>EK12007</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Metal Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 7-->
        <li class="cd-item" id="EK12008">

            <img src="~/Images/products/ErkekKolye/EK12008.jpg" alt="Item Preview">
            <div class="product-code-container">
                EK12008
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Osmanlı Sancağı Tasarım Kolye</a>
            </div>

            <a href="#EK12008" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/ErkekKolye/EK12008.jpg" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Osmanlı Sancağı Tasarım Kolye</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>EK12008</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Metal Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 8-->
        <li class="cd-item" id="EK12009">

            <img src="~/Images/products/ErkekKolye/EK12009.jpg" alt="Item Preview">
            <div class="product-code-container">
                EK12009
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Elif Vav Tasarım Kolye</a>
            </div>

            <a href="#EK12009" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/ErkekKolye/EK12009.jpg" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Elif Vav Tasarım Kolye</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>EK12009</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Metal Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 9-->
        @*<li class="cd-item" id="EK12010">

            <img src="~/Images/products/ErkekKolye/EK12010.jpg" alt="Item Preview">
            <div class="product-code-container">
                EK12010
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Üç Hilal Tasarım Kolye</a>
            </div>

            <a href="#EK12010" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/ErkekKolye/EK12010.jpg" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Üç Hilal Tasarım Kolye</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>EK12010</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Metal Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 10-->*@
        <li class="cd-item" id="EK12011">

            <img src="~/Images/products/ErkekKolye/EK12011.jpg" alt="Item Preview">
            <div class="product-code-container">
                EK12011
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Çapa Tasarım Kolye</a>
            </div>

            <a href="#EK12011" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/ErkekKolye/EK12011.jpg" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Çapa Tasarım Kolye</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>EK12011</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Metal Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 11-->
        <li class="cd-item" id="EK12012">

            <img src="~/Images/products/ErkekKolye/EK12012.jpg" alt="Item Preview">
            <div class="product-code-container">
                EK12012
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Zülfikar Kolye</a>
            </div>

            <a href="#EK12012" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/ErkekKolye/EK12012.jpg" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Zülfikar Kolye</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>EK12012</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Metal Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 12-->
    </ul>
    @*<ul id="page1" class="cd-items cd-container">
        <li class="cd-item" id="EK12013">

            <img src="~/Images/products/ErkekKolye/EK12013.jpg" alt="Item Preview">
            <div class="product-code-container">
                EK12013
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Zülfikar Kolye</a>
            </div>

            <a href="#EK12013" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/ErkekKolye/EK12013.jpg" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Zülfikar Kolye</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>EK12013</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Metal Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 13-->
        <li class="cd-item" id="EK12014">

            <img src="~/Images/products/ErkekKolye/EK12014.jpg" alt="Item Preview">
            <div class="product-code-container">
                EK12014
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Zülfikar Kolye</a>
            </div>

            <a href="#EK12014" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/ErkekKolye/EK12014.jpg" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Zülfikar Kolye</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>EK12014</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Metal Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 14-->
        <li class="cd-item" id="EK12015">

            <img src="~/Images/products/ErkekKolye/EK12015.jpg" alt="Item Preview">
            <div class="product-code-container">
                EK12015
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Osmanlı Tuğrası Kolye</a>
            </div>

            <a href="#EK12015" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/ErkekKolye/EK12015.jpg" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Osmanlı Tuğrası Kolye</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>EK12015</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Metal Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 15-->

    </ul>*@
        <!-- cd-items end-->
        <!-- Pagination Section -->
            <center>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#" onclick="showPrev()">Geri</a></li>
                        <li class="page-item"><a class="page-link" href="#" onclick="showPages('1')">1</a></li>
                        @*<li class="page-item"><a class="page-link" href="#" onclick="showPages('2')">2</a></li>*@
                        <li class="page-item"><a class="page-link" href="#" onclick="showNext()">İleri</a></li>
                    </ul>
                </nav>
            </center>
            <!-- Pagination Section End-->
</main>