@{
    ViewBag.Title = "Kadın Set";
}
<main class="cd-main-content">
    <ul id="page1" class="cd-items cd-container">
        <li class="cd-item" id="KS5001">

            <img src="~/Images/products/KadinSet/KS5001.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5001
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Rose Kaplama Elmas Montür Tasarım Üçlü Set</a>
            </div>

            <a href="#KS5001" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5001.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Rose Kaplama Elmas Montür Tasarım Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5001</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Rose</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 1-->
        <li class="cd-item" id="KS5002">

            <img src="~/Images/products/KadinSet/KS5002.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5002
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Tektaş Üçlü Set</a>
            </div>

            <a href="#KS5002" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5002.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Tektaş Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5002</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 2-->
        <li class="cd-item" id="KS5003">

            <img src="~/Images/products/KadinSet/KS5003.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5003
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Kar Tanesi Üçlü Set</a>
            </div>

            <a href="#KS5003" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5003.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Kar Tanesi Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5003</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 3-->
        <li class="cd-item" id="KS5004">

            <img src="~/Images/products/KadinSet/KS5004.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5004
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Kırıktaş Zirkon Üçlü Set</a>
            </div>

            <a href="#KS5003" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5004.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Kırıktaş Zirkon Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5004</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Pembe,Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 4-->
        <li class="cd-item" id="KS5005">

            <img src="~/Images/products/KadinSet/KS5005.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5005
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Sonsuzluk Üçlü Set</a>
            </div>

            <a href="#KS5005" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5005.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Sonsuzluk Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5005</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 5-->
        <li class="cd-item" id="KS5006">

            <img src="~/Images/products/KadinSet/KS5006.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5006
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Yapraklı Tasarım Markazit Üçlü Set</a>
            </div>

            <a href="#KS5006" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5006.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Yapraklı Tasarım Markazit Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5006</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zümrüt</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Yeşil</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 6-->
        <li class="cd-item" id="KS5007">

            <img src="~/Images/products/KadinSet/KS5007.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5007
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Gold Tasarım Üçlü Set</a>
            </div>

            <a href="#KS5007" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5007.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Gold Tasarım Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5007</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Sarı</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 7-->
        <li class="cd-item" id="KS5008">

            <img src="~/Images/products/KadinSet/KS5008.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5008
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Tasarım Üçlü Set</a>
            </div>

            <a href="#KS5008" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5008.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Tasarım Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5008</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Yeşil,Pembe</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 8-->
        <li class="cd-item" id="KS5009">

            <img src="~/Images/products/KadinSet/KS5009.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5009
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Otantik Zümrüt Üçlü Set</a>
            </div>

            <a href="#KS5009" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5009.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Otantik Zümrüt Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5009</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon,Zümrüt</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Bronz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Yeşil</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 9-->
        <li class="cd-item" id="KS5010">

            <img src="~/Images/products/KadinSet/KS5010.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5010
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Otantik Safir Üçlü Set</a>
            </div>

            <a href="#KS5010" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5010.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Otantik Safir Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5010</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon,Safir</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Bronz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Lacivert</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 10-->
        <li class="cd-item" id="KS5011">

            <img src="~/Images/products/KadinSet/KS5011.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5011
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Otantik Yakut Üçlü Set</a>
            </div>

            <a href="#KS5011" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5011.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Otantik Yakut Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5011</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon,Yakut</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Bronz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Kırmızı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 11-->
        <li class="cd-item" id="KS5012">

            <img src="~/Images/products/KadinSet/KS5012.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5012
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Damla Tasarım Üçlü Set</a>
            </div>

            <a href="#KS5012" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5012.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Damla Tasarım Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5012</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 12-->
    </ul>
    <ul id="page2" class="cd-items cd-container">
        <li class="cd-item" id="KS5013">

            <img src="~/Images/products/KadinSet/KS5013.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5013
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Safir Tasarım Üçlü Set</a>
            </div>

            <a href="#KS5013" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5013.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Safir Tasarım Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5013</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon,Safir</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Lacivert</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 13-->
        <li class="cd-item" id="KS5014">

            <img src="~/Images/products/KadinSet/KS5014.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5014
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş İnci Tasarım Üçlü Set</a>
            </div>

            <a href="#KS5014" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5014.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş İnci Tasarım Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5014</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon,İnci</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 14-->
        <li class="cd-item" id="KS5015">

            <img src="~/Images/products/KadinSet/KS5015.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5015
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Otantik Safir Üçlü Set</a>
            </div>

            <a href="#KS5015" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5015.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Otantik Safir Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5015</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon,Safir</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Bronz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Lacivert</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 15-->
        <li class="cd-item" id="KS5016">

            <img src="~/Images/products/KadinSet/KS5016.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5016
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Otantik Tasarım Üçlü Set</a>
            </div>

            <a href="#KS5016" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5016.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Otantik Tasarım Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5016</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon,Safir</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Bronz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Lacivert,Pembe</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 16-->
        <li class="cd-item" id="KS5017">

            <img src="~/Images/products/KadinSet/KS5017.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5017
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Rose Kaplama Çiçek Tasarım Üçlü Set</a>
            </div>

            <a href="#KS5017" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5017.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Rose Kaplama Çiçek Tasarım Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5017</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Rose</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 17-->
        <li class="cd-item" id="KS5018">

            <img src="~/Images/products/KadinSet/KS5018.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5018
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Sitrin Taşı Tasarım Üçlü Set</a>
            </div>

            <a href="#KS5018" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5018.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Sitrin Taşı Tasarım Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5002</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Sitrin</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Sarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 18-->
        <li class="cd-item" id="KS5019">

            <img src="~/Images/products/KadinSet/KS5019.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5019
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Oniks Taş Tasarım Markazit Üçlü Set</a>
            </div>

            <a href="#KS5019" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5019.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Oniks Taş Tasarım Markazit Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5019</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Oniks</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Siyah</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 19-->
        <li class="cd-item" id="KS5020">

            <img src="~/Images/products/KadinSet/KS5020.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5020
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Zümrüt Taş Tasarım Markazit Üçlü Set</a>
            </div>

            <a href="#KS5020" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5020.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Zümrüt Taş Tasarım Markazit Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5020</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zümrüt</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Rose</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Yeşil</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 20-->
        <li class="cd-item" id="KS5021">

            <img src="~/Images/products/KadinSet/KS5021.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5021
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Zümrüt Taşlı Tasarım Markazit Üçlü Set</a>
            </div>

            <a href="#KS5021" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5021.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Zümrüt Taşlı Tasarım Markazit Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5021</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zümrüt</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Yeşil</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 21-->
        <li class="cd-item" id="KS5022">

            <img src="~/Images/products/KadinSet/KS5020.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5022
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Tasarım Markazit Üçlü Set</a>
            </div>

            <a href="#KS5022" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5022.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Tasarım Markazit Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5022</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Pembe</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 22-->
        <li class="cd-item" id="KS5023">

            <img src="~/Images/products/KadinSet/KS5023.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5023
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Rose Kaplama Elmas Montür Tasarım Üçlü Set</a>
            </div>

            <a href="#KS5023" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5023.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Rose Kaplama Elmas Montür Tasarım Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5023</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Rose</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 23-->
        <li class="cd-item" id="KS5024">

            <img src="~/Images/products/KadinSet/KS5024.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5024
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Tasarım Üçlü Set</a>
            </div>

            <a href="#KS5024" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5024.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Tasarım Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5024</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 24-->
    </ul>
    <ul id="page3" class="cd-items cd-container">
        <li class="cd-item" id="KS5025">

            <img src="~/Images/products/KadinSet/KS5025.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5025
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Su Damlası Tasarım Üçlü Set</a>
            </div>

            <a href="#KS5025" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5025.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Su Damlası Tasarım Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5025</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 25-->
        <li class="cd-item" id="KS5026">

            <img src="~/Images/products/KadinSet/KS5026.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5026
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Çiçek Tasarım Üçlü Set</a>
            </div>

            <a href="#KS5026" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5026.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Çiçek Tasarım Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5026</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 26-->
        <li class="cd-item" id="KS5027">

            <img src="~/Images/products/KadinSet/KS5027.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5027
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Tasarım Üçlü Set</a>
            </div>

            <a href="#KS5027" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5027.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Tasarım Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5027</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 27-->
        <li class="cd-item" id="KS5028">

            <img src="~/Images/products/KadinSet/KS5028.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5028
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Otantik Damla Tasarım Üçlü Set</a>
            </div>

            <a href="#KS5028" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5028.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Otantik Damla Tasarım Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5028</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon,Yakut</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Bronz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Kırmızı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 28-->
        <li class="cd-item" id="KS5029">

            <img src="~/Images/products/KadinSet/KS5029.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5029
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Çiçek Tasarım Markazit Üçlü Set</a>
            </div>

            <a href="#KS5029" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5029.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Çiçek Tasarım Markazit Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5029</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon,Safir</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Bronz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Lacivert</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 29-->
        <li class="cd-item" id="KS5030">

            <img src="~/Images/products/KadinSet/KS5030.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5030
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Ametist Taş Üçlü Set</a>
            </div>

            <a href="#KS5030" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5030.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Ametist Taş Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5030</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon,Ametist</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Bronz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Mor</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 30-->
        <li class="cd-item" id="KS5031">

            <img src="~/Images/products/KadinSet/KS5031.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5031
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Tektaş Tasarım Üçlü Set</a>
            </div>

            <a href="#KS5031" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5031.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Tektaş Tasarım Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5031</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 31-->
    </ul>
    <!-- cd-items end-->
    <!-- Pagination Section -->
    <center>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" onclick="showPrev()">Geri</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPages('1')">1</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPages('2')">2</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPages('3')">3</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showNext()">İleri</a></li>
            </ul>
        </nav>
    </center>
    <!-- Pagination Section End-->
</main>