@{
    ViewBag.Title = "Kadın Küpe";
}
<main class="cd-main-content">
    <ul id="page1" class="cd-items cd-container">
        <li class="cd-item" id="KKU6001">

            <img src="~/Images/products/Kupe/KKU6001.JPG" alt="Item Preview">
            <div class="product-code-container">
                KKU6001
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Rose Kaplama Elmas Montürlü Çiçek Küpe</a>
            </div>

            <a href="#KKU6001" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Kupe/KKU6001.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Rose Kaplama Elmas Montürlü Çiçek Küpe</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KKU6001</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Rose</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 1-->
        <li class="cd-item" id="KKU6002">

            <img src="~/Images/products/Kupe/KKU6002.JPG" alt="Item Preview">
            <div class="product-code-container">
                KKU6002
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Zümrüt Taşlı Tasarım Küpe</a>
            </div>

            <a href="#KKU6002" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Kupe/KKU6002.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Zümrüt Taşlı Tasarım Küpe</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KKU6002</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zümrüt,Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Yeşil,Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 2-->
        <li class="cd-item" id="KKU6003">

            <img src="~/Images/products/Kupe/KKU6003.JPG" alt="Item Preview">
            <div class="product-code-container">
                KKU6003
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Rose Kaplama Ay Taşı Tasarım Küpe</a>
            </div>

            <a href="#KKU6003" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Kupe/KKU6003.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Ay Taşı Tasarım Küpe</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KKU6003</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Ay Taşı,Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Siyah</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 3-->
        <li class="cd-item" id="KKU6004">

            <img src="~/Images/products/Kupe/KKU6004.JPG" alt="Item Preview">
            <div class="product-code-container">
                KKU6004
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Zümrüt Taşlı Tasarım Küpe</a>
            </div>

            <a href="#KKU6004" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Kupe/KKU6004.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Zümrüt Taşlı Tasarım Küpe</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KKU6004</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zümrüt</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Yeşil</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 4-->
        <li class="cd-item" id="KKU6005">

            <img src="~/Images/products/Kupe/KKU6005.JPG" alt="Item Preview">
            <div class="product-code-container">
                KKU6005
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Nano Taşlı Nazar Boncuğu Küpe</a>
            </div>

            <a href="#KKU6005" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Kupe/KKU6005.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Nano Taşlı Nazar Boncuğu Küpe</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KKU6005</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Nano,Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Mavi,Lacivert,Siyah,Beyaz,Sarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 5-->
        <li class="cd-item" id="KKU6006">

            <img src="~/Images/products/Kupe/KKU6006.JPG" alt="Item Preview">
            <div class="product-code-container">
                KKU6006
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Yakut Taşlı Tasarım Küpe</a>
            </div>

            <a href="#KKU6006" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Kupe/KKU6006.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Yakut Taşlı Tasarım Küpe</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KKU6006</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Yakut</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Kırmızı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 6-->
        <li class="cd-item" id="KKU6007">

            <img src="~/Images/products/Kupe/KKU6007.JPG" alt="Item Preview">
            <div class="product-code-container">
                KKU6007
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Safir Taşlı Tasarım Küpe</a>
            </div>

            <a href="#KKU6007" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Kupe/KKU6007.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Safir Taşlı Tasarım Küpe</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KKU6007</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Safir</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Lacivert</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 7-->
        <li class="cd-item" id="KKU6008">

            <img src="~/Images/products/Kupe/KKU6008.JPG" alt="Item Preview">
            <div class="product-code-container">
                KKU6008
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Rose Kaplama Elmas Montürlü Su Damlası Küpe</a>
            </div>

            <a href="#KKU6008" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Kupe/KKU6008.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Rose Kaplama Elmas Montürlü Su Damlası Küpe</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KKU6008</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Rose</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 8-->
        <li class="cd-item" id="KKU6009">

            <img src="~/Images/products/Kupe/KKU6009.JPG" alt="Item Preview">
            <div class="product-code-container">
                KKU6009
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Rose Kaplama Nazar Boncuklu Halka Küpe</a>
            </div>

            <a href="#KKU6009" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Kupe/KKU6009.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Rose Kaplama Nazar Boncuklu Halka Küpe</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KKU6009</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Rose</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 9-->
        <li class="cd-item" id="KKU6010">

            <img src="~/Images/products/Kupe/KKU6010.JPG" alt="Item Preview">
            <div class="product-code-container">
                KKU6010
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Rose Kaplama Tasarım Halka Küpe</a>
            </div>

            <a href="#KKU6010" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Kupe/KKU6010.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Rose Kaplama Tasarım Halka Küpe</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KKU6010</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Rose</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 10-->
        <li class="cd-item" id="KKU6011">

            <img src="~/Images/products/Kupe/KKU6011.JPG" alt="Item Preview">
            <div class="product-code-container">
                KKU6011
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Rose Kaplama Kutup Yıldızı Tasarım Halka Küpe</a>
            </div>

            <a href="#KKU6011" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/Kupe/KKU6011.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Rose Kaplama Kutup Yıldızı Tasarım Halka Küpe</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KKU6011</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Yok</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Rose</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li> <!-- cd-item 11-->

</ul>
    <!-- cd-items end-->
    <!-- Pagination Section -->
    <center>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" onclick="showPrev()">Geri</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPages('1')">1</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showNext()">İleri</a></li>
            </ul>
        </nav>
    </center>
    <!-- Pagination Section End-->

</main>