@{
    ViewBag.Title = "Kuka Tesbih";
}
<main class="cd-main-content">
    <ul id="page1" class="cd-items cd-container"></ul>
    @*<center>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" onclick="showPrev()">Geri</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPages('1')">1</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showPages('2')">2</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="showNext()">İleri</a></li>
            </ul>
        </nav>
    </center>*@
    <!-- Pagination Section End-->
</main>