    <!-- Shopping Cart -->

    <div id="cd-cart">
        <h2>SEPET</h2>
        <span class="undo">Item removed. <a href="#0">Undo</a></span>
        <ul class="cd-cart-items"></ul> <!-- cd-cart-items -->

        <div class="cd-cart-total">
            <p>Total <span>$0.00</span></p>
        </div> <!-- cd-cart-total -->

        <a href="#0" class="checkout-btn">Checkout</a>
        <p class="cd-go-to-cart"><a href="#0">Go to cart page</a></p>
    </div> <!-- cd-cart -->
