@{
    ViewBag.Title = "Hakkımızda";
}

<main class="cd-main-content">
    </br>
    <h2>@ViewBag.Title.</h2>
    @*<h3>@ViewBag.Message</h3>*@

    <p>
        &nbsp;&nbsp;&nbsp; SOM Gümüş & Tesbih, 1983 yılında kurulmuş Adana – Çakmak Caddesi merkezli bir firmadır.
        Güvenli alışveriş ilkesini benimseyen firmamız, büyüyen kadromuz ve artan şubelerimiz, özel tasarım el emeği ürünlerimizle şık ve stil sahibi siz değerli müşterilerimizin hizmetindedir.
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;Müşterilerimiz ve markamız bizim için önemlidir. Güler yüzlü mağaza çalışanlarımız ve müşteri temsilcilerimiz her türlü sorularınız için sizleri beklemektedir.
        Şıklığınızı tamamlamak için doğru adrestesiniz.
    </p>

    <p>
        &nbsp;&nbsp;&nbsp;Keyifli alışverişler.
    </p>
    @*@Html.Partial("_CartPartial")*@
</main>
