@{
    ViewBag.Title = "SOM Gümüş & Tesbih";
}
<!--Disable Main Layout-->
@{
    Layout = null;
}
<!--Enable Index Layout-->

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<main class="cd-main-content" style="padding-top: 25px; ">
    <section class="jk-slider" style="border-bottom-width: 0px;">
        <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example" data-slide-to="1"></li>
                <li data-target="#carousel-example" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active">
                    <div class="overlay"></div>
                    <img src="~/Images/slider-1.png" />

                </div>

                <div class="item">
                    <div class="overlay"></div>
                    <img src="~/Images/slider-2.png" />

                </div>
                <div class="item">
                    <div class="overlay"></div>
                    <img src="~/Images/som-slider-logo.png" />

                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

    </section>

    <ul id="page1" class="cd-items cd-container">
        <li class="cd-item" id="KK1083">
            <img src="~/Images/products/KadinKolye/KK1083.JPG" alt="Item Preview">
            <div class="product-code-container">
                KK1083
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Rose Kaplama Ananas Tasarım Kolye</a>
            </div>

            <a href="#KK1083" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinKolye/KK1083.JPG" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Rose Kaplama Ananas Tasarım Kolye</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KK1083</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Rose</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz,Yeşil</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li>
        <li class="cd-item" id="KK1079">
            <img src="~/Images/products/KadinKolye/KK1079.JPG" alt="Item Preview">
            <div class="product-code-container">
                KK1079
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Rose Kaplama Kelebek Tasarım Kolye</a>
            </div>

            <a href="#KK1079" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinKolye/KK1079.JPG" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Rose Kaplama Kelebek Tasarım Kolye</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KK1079</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Rose</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li>
        <li class="cd-item" id="EKD7002">

            <img src="~/Images/products/KolDugmesi/EKD7002.JPG" alt="Item Preview">
            <div class="product-code-container">
                EKD7002
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Oniks Taşlı Kol Düğmesi</a>
            </div>

            <a href="#EKD7002" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KolDugmesi/EKD7002.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Oniks Taşlı Kol Düğmesi</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>EKD7002</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Oniks</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li>
        <li class="cd-item" id="KS5004">

            <img src="~/Images/products/KadinSet/KS5004.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5004
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Kırıktaş Zirkon Üçlü Set</a>
            </div>

            <a href="#KS5003" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5004.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Kırıktaş Zirkon Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5004</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Pembe,Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li>
        <li class="cd-item" id="EK7007">

            <img src="~/Images/products/ErkekKombin/EK7007.JPG" alt="Item Preview">
            <div class="product-code-container">
                EK7007
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">1000 Ayar Gümüş Kazaz Püsküllü Kehribar Tesbih & Oniks Taşlı Oksitli Yüzük</a>
            </div>

            <a href="#EK7007" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/ErkekKombin/EK7007.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>1000 Ayar Gümüş Kazaz Püsküllü Kehribar Tesbih & Oniks Taşlı Oksitli Yüzük</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>EK7007</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Tesbih Taş</td>
                                    <td class="colon">:</td>
                                    <td>Ateş Kehribarı</td>
                                </tr>
                                <tr>
                                    <td class="details">Tesbih Kesim Şekli</td>
                                    <td class="colon">:</td>
                                    <td>Kapsül Kesim</td>
                                </tr>
                                <tr>
                                    <td class="details">Püskül</td>
                                    <td class="colon">:</td>
                                    <td>1000 Ayar Gümüş Kazaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Püskül Değişim</td>
                                    <td class="colon">:</td>
                                    <td>Değiştirilebilir</td>
                                </tr>
                                <tr>
                                    <td class="details">Yüzük Yüzey Maddesi</td>
                                    <td class="colon">:</td>
                                    <td>Oniks</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li>
        <li class="cd-item" id="SOMKK1069">
            <img src="~/Images/products/KadinKolye/SOMKK1069.JPG" alt="Item Preview">
            <div class="product-code-container">
                SOMKK1069
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Satürn Tasarım Kolye</a>
            </div>

            <a href="#SOMKK1069" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinKolye/SOMKK1069.JPG" alt="Product 1"></li>

                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Satürn Tasarım Kolye</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMKK1069</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Lacivert,Pembe,Sarı,Yeşil</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li>
        <li class="cd-item" id="EK7003">

            <img src="~/Images/products/ErkekKombin/EK7003.JPG" alt="Item Preview">
            <div class="product-code-container">
                EK7003
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Çift Püsküllü Kaplan Gözü Tesbih & Göktürkçe Türk Yazılı Oksitli Mineli Yüzük</a>
            </div>

            <a href="#EK7003" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/ErkekKombin/EK7003.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Çift Püsküllü Kaplan Gözü Tesbih & Göktürkçe Türk Yazılı Oksitli Mineli Yüzük</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>EK7003</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Tesbih Taş</td>
                                    <td class="colon">:</td>
                                    <td>Kaplan Gözü</td>
                                </tr>
                                <tr>
                                    <td class="details">Tesbih Kesim Şekli</td>
                                    <td class="colon">:</td>
                                    <td>Küre Kesim</td>
                                </tr>
                                <tr>
                                    <td class="details">Püskül</td>
                                    <td class="colon">:</td>
                                    <td>925 Ayar Gümüş</td>
                                </tr>
                                <tr>
                                    <td class="details">Püskül Değişim</td>
                                    <td class="colon">:</td>
                                    <td>Değiştirilebilir</td>
                                </tr>
                                <tr>
                                    <td class="details">Yüzük Yüzey Maddesi</td>
                                    <td class="colon">:</td>
                                    <td>Mine</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li>
        <li class="cd-item" id="EK7002">

            <img src="~/Images/products/ErkekKombin/EK7002.JPG" alt="Item Preview">
            <div class="product-code-container">
                EK7002
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Çift Püsküllü Kaplan Gözü Tesbih & Kaplan Gözü Oksitli Yüzük</a>
            </div>

            <a href="#EK7002" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/ErkekKombin/EK7002.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Çift Püsküllü Kaplan Gözü Tesbih & Kaplan Gözü Oksitli Yüzük</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>EK7002</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Tesbih Taş</td>
                                    <td class="colon">:</td>
                                    <td>Kaplan Gözü</td>
                                </tr>
                                <tr>
                                    <td class="details">Tesbih Kesim Şekli</td>
                                    <td class="colon">:</td>
                                    <td>Küre Kesim</td>
                                </tr>
                                <tr>
                                    <td class="details">Püskül</td>
                                    <td class="colon">:</td>
                                    <td>925 Ayar Gümüş</td>
                                </tr>
                                <tr>
                                    <td class="details">Püskül Değişim</td>
                                    <td class="colon">:</td>
                                    <td>Değiştirilebilir</td>
                                </tr>
                                <tr>
                                    <td class="details">Yüzük Taş</td>
                                    <td class="colon">:</td>
                                    <td>Kaplan Gözü</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li>
        <li class="cd-item" id="KS5001">

            <img src="~/Images/products/KadinSet/KS5001.JPG" alt="Item Preview">
            <div class="product-code-container">
                KS5001
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Rose Kaplama Otantik Üçlü Set</a>
            </div>

            <a href="#KS5001" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinSet/KS5001.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Rose Kaplama Otantik Üçlü Set</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>KS5001</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Rose</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li>
        <li class="cd-item" id="EK7001">

            <img src="~/Images/products/ErkekKombin/EK7001.JPG" alt="Item Preview">
            <div class="product-code-container">
                EK7001
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Dört Püsküllü Damla Kehribarı Tesbih & Damla Kehribarı Oksitli Yüzük</a>
            </div>

            <a href="#EK7001" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/ErkekKombin/EK7001.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Dört Püsküllü Damla Kehribarı Tesbih & Damla Kehribarı Oksitli Yüzük</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>EK7001</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Tesbih Taş</td>
                                    <td class="colon">:</td>
                                    <td>Damla Kehribarı</td>
                                </tr>
                                <tr>
                                    <td class="details">Tesbih Kesim Şekli</td>
                                    <td class="colon">:</td>
                                    <td>Arpa Kesim</td>
                                </tr>
                                <tr>
                                    <td class="details">Püskül</td>
                                    <td class="colon">:</td>
                                    <td>925 Ayar Gümüş</td>
                                </tr>
                                <tr>
                                    <td class="details">Püskül Değişim</td>
                                    <td class="colon">:</td>
                                    <td>Değiştirilebilir</td>
                                </tr>
                                <tr>
                                    <td class="details">Yüzük Taş</td>
                                    <td class="colon">:</td>
                                    <td>Damla Kehribarı</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li>
        <li class="cd-item" id="EYZ2011">

            <img src="~/Images/products/ErkekYuzuk/EYZ2011.JPG" alt="Item Preview">
            <div class="product-code-container">
                EYZ2011
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Zülfikar İşlemeli Oksitli Yüzük</a>
            </div>

            <a href="#EYZ2011" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/ErkekYuzuk/EYZ2011.JPG" alt="Product 1"></li>
                            <!--FARKLI AÇILARDAN-->
                            <li><img src="~/Images/products/ErkekYuzuk/EYZ2011sol.JPG" alt="Product 2"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->
                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Zülfikar İşlemeli Oksitli Yüzük</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>EYZ2011</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Taşsız</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li>
        <li class="cd-item" id="SOMKK1003">
            <img src="~/Images/products/KadinKolye/SOMKK1003.JPG" alt="Item Preview">
            <div class="product-code-container">
                SOMKK1003
            </div>

            <div class="product-sum-container">
                <a href="#0" class="product-sum-text">925 Ayar Gümüş Nano Taşlı Dört Yapraklı Yonca Kolye</a>
            </div>

            <a href="#SOMKK1003" class="cd-trigger">Görüntüle</a>
            <div class="quick-view-content">
                <div class="quick-view-content-wrapper">
                    <div class="cd-slider-wrapper">

                        <ul class="cd-slider">
                            <li class="selected"><img src="~/Images/products/KadinKolye/SOMKK1003.JPG" alt="Product 1"></li>
                        </ul> <!-- cd-slider -->

                        <ul class="cd-slider-navigation">
                            <li><a class="cd-next" href="#0">Prev</a></li>
                            <li><a class="cd-prev" href="#0">Next</a></li>
                        </ul> <!-- cd-slider-navigation -->

                    </div> <!-- cd-slider-wrapper -->

                    <div class="cd-item-info">
                        <h2>925 Ayar Gümüş Nano Taşlı Dört Yapraklı Yonca Kolye</h2>
                        <p>
                            <table>
                                <tr>
                                    <td class="details">Ürün Kodu</td>
                                    <td class="colon">:</td>
                                    <td>SOMKK1003</td>
                                </tr>
                                <tr>
                                    <td class="details">Ayar</td>
                                    <td class="colon">:</td>
                                    <td>925</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş</td>
                                    <td class="colon">:</td>
                                    <td>Nano,Zirkon</td>
                                </tr>
                                <tr>
                                    <td class="details">Maden Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Beyaz</td>
                                </tr>
                                <tr>
                                    <td class="details">Taş Rengi</td>
                                    <td class="colon">:</td>
                                    <td>Mavi,Beyaz</td>
                                </tr>
                            </table>

                        </p>
                    </div> <!-- cd-item-info -->
                </div>
            </div>
        </li>
    </ul>
    <!-- cd-items end -->

    <!-- Pagination Section -->
    <!-- !!!!!!!! IF PRODUCT NUMBER IS HIGHER THAN 15, ADD PAGINATION !!!!!!!!  -->

</main>

    @*@Html.Partial("_CartPartial")*@


